@model activos.Models.Empleado

@{
    ViewData["Title"] = "Create";
}

<h1>Crear Empleado</h1>

<h4>Empleado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" placeholder="Inserta el nombre del empleado" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cedula" class="control-label"></label>
                <input asp-for="Cedula" class="form-control" placeholder="Inserta la cedula del empleado" />
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_departamento" class="control-label"></label>
                <select asp-for="Id_departamento" class ="form-control" asp-items="ViewBag.Id_departamento" placeholder="Selecciona el departamento a que pertenece"></select>
            </div>
            <div class="form-group">
                <label asp-for="Id_tipo" class="control-label"></label>
                <select asp-for="Id_tipo" class ="form-control" asp-items="ViewBag.Id_tipo" placeholder="Selecciona el tipo de empleado"></select>
            </div>
            <div class="form-group">
                <label asp-for="FechaIngreso" class="control-label"></label>
                <input asp-for="FechaIngreso" class="form-control" placeholder="Selecciona la fecha de ingreso" />
                <span asp-validation-for="FechaIngreso" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estado" placeholder="Selecciona su estado" /> @Html.DisplayNameFor(model => model.Estado)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
